<div class="content">
  <div class="aimee">
    <div class="image_div">
      <img src="https://networhk.net/img/aimee/activate_account.png" alt="" />
    </div>
  </div>

  <h2 style="margin: 60px auto 0 auto">
    Your Activation Link Will Expire In 23 days
  </h2>

  <div class="action">
    <a href="<%= link %>" target="_blank" class="btn">
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      <strong>Activate It Here</strong>
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
    </a>
  </div>
  
</div>
