<div class="content">
    <div class="aimee">
      <div class="image_div">
        <img src="https://networhk.net/img/aimee/activate_account.png" alt="" />
      </div>
    </div>
  
    <h2 style="margin: 60px auto 0 auto">
      Your Activation Link Will Expire In <%= days%> days
    </h2>
  
    <div class="action">
      <a href="<%= link %>" target="_blank" class="btn">
        <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
        <strong>Activate It Here</strong>
        <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      </a>
    </div>

    <h2 style="margin: 20px auto 20px auto">Download the app</h2>
    <div style="display: flex; justify-content: center; margin: 20px auto;">
      <a
        href="https://play.google.com/store/apps/details?id=net.networhk.starhs"
        target="_blank"
        style="margin-right: 5px"
      >
        <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
        <img
          src="https://networhk.net/img/aimee/android_store.png"
          alt=""
          width="120"
          height="40"
        />
        <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      </a>
      <a
        href="https://apps.apple.com/us/app/staRHs-positive-feedback/id1474070752"
        target="_blank"
        style="margin-left: 5px"
      >
        <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
        <img
          src="https://networhk.net/img/aimee/ios_store.png"
          alt=""
          width="120"
          height="40"
        />
        <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      </a>
    </div>
    
  </div>