<div class="content">
  <div class="aimee">
    <div class="mobile_header">
        <p><strong>Hey <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>
        <p>
          Great news! You have been added to:
        </p>
    </div>
    <div class="image_div">  
      <img src="https://networhk.net/img/aimee/invitation_accepted.png" alt="">
    </div>
    <div>
      <div class="desktop_header">
        <p><strong>Hey <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>
        <p>
          Great news! You have been added to:
        </p>
      </div>
      <div>
          <div class="include_div">
            {{includes.contribution}}
          </div>

        <p>
          Have fun,<br/>
          AImee
        </p>
      </div>
    </div>
  </div>  
</div>
