<div class="content">
  <p><strong>Hi <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>

  <p>
    You are warmly invited by <%= sender.firstname %> <%= sender.lastname %>
    to join the meeting:<br/>
    <strong><%= meeting.name %></strong>
  </p>

  <div class="aimee">
      <img src="/assets/aimee/check_health.png" alt="">
      <div>
        <p>
          <a href="<%= meetingLink %>" target="_blank" class="btn">
            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
            <strong>Click here to join the meeting …</strong>
            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
          </a>
        </p>

        <hr>

        <p>
          If you were invited by accident, just ignore this message.
        </p>
      </div>
  </div>
<p>
  Have fun,<br/>
  AImee
</p>

</div>