<div class="content">
  <div class="aimee">
    <div class="mobile_header">
      <p><strong>Hi <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>

      <p>
        The following contribution has been updated:
      </p>
    </div>
    <div class="image_div">  
      <img src="https://networhk.net/img/aimee/aimee_generic.png" alt="">
    </div>
    <div>
      <div class="desktop_header">
        <p><strong>Hi <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>

        <p>
          The following contribution has been updated:
        </p>
      </div>
      <div class="include_div">
        {{includes.contribution}}
      </div>
    </div>
  </div>
</div>