<div class="content">
  <div class="aimee">
    <div class="mobile_header">
      <p><strong>Hi <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>

      <p>
        FYI, the following contribution has been updated:
      </p>
    </div>
    <div class="image_div">  
      <img src="/assets/aimee/check_health.png" alt="">
    </div>
    <div>
      <div class="desktop_header">
        <p><strong>Hi <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>

        <p>
          FYI, the following contribution has been updated:
        </p>
      </div>
      <div class="include_div">
        {{includes.contribution}}
      </div>

      <p>
        All the best,<br/>
        AImee
      </p>
    </div>
  </div>
</div>