<div class="content">
  <p>
    The health of the contribution in the <strong><%= networhk.label %> netwoRHk</strong>,
    to which <strong><%= recipient.name %></strong> has been assigned,
    will be degraded soon if you do not confirm your good standing
    <em>within <%= healthEngine.degradesIn %></em>.
  </p>

  <div class="aimee">
      <img src="/assets/aimee/check_health.png" alt="">
      <div>
        <p>
          <a href="<%= updateStatusLink %>" target="_blank" class="btn">
            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
            <strong>Confirm your good standing here</strong>
            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
          </a>
        </p>
      </div>
  </div>

</div>
