<div class="header">
  <h1>Health degraded</h1>
</div>
<div class="content">
  <p><strong>Hi <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>

  <p>
    the health of your commitments in the <strong><%= networhk.label %> netwoRHk</strong> listed below has been
    automatically degraded because you did not reinforce your commitment in the
    <em>last <%= healthEngine.degradesAfter %></em>.
  </p>

  <p>
    Please go to your netwoRHk and review your commitments.
  </p>

  <ul>
    <% _.forEach(contributions, function(contribution) { %>
    <li><%= contribution.title %></li>
    <% }); %>
  </ul>

  <p>
    <a href="<%= networhk.networhkLink %>/my" target="_blank" class="btn">
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      <strong>Go to your netwoRHk …</strong>
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
    </a>
  </p>

</div>
