<div class="content">
  <div class="aimee">
    <div class="mobile_header">
      <p>
        The health of the contribution in the <strong><%= networhk.label %> netwoRHk</strong>,
        to which <strong><%= recipient.name %></strong> has been assigned,
        has been automatically degraded because you did not confirm your good standing in the
        <em>last <%= healthEngine.degradesAfter %></em>.
      </p>
    </div>
    <div class="image_div">  
      <img src="/assets/aimee/aimee_generic.png" alt="">
    </div>
    <div>
      <div class="desktop_header">
        <p>
          The health of the contribution in the <strong><%= networhk.label %> netwoRHk</strong>,
          to which <strong><%= recipient.name %></strong> has been assigned,
          has been automatically degraded because you did not confirm your good standing in the
          <em>last <%= healthEngine.degradesAfter %></em>.
        </p>
      </div>
      <div>
        <p>
          <a href="<%= updateStatusLink %>" target="_blank" class="btn">
            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
            <strong>Update the status here</strong>
            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
