<div class="content">
  <div class="aimee">
    <div class="image_div">
      <img src="https://networhk.net/img/aimee/verify_email.png" alt="">
    </div>
    <div>
      <div class="desktop_header">
        <p><strong>Hey <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>

        <p>
          Aye aye, Capitan! We reset your password.<br/>
          Please click the link to confirm your reset:
        </p>
      </div>
      <div class="action">
        <a href="<%= link %>" target="_blank" class="btn">
          <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
          <strong>Confirm password reset</strong>
          <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
        </a>
      </div>

      <p>
        Cheers,<br/>
        AImee
      </p>

      <hr/>

      <p>P.S. Ignore this message if you did not request a password reset.</p>
    </div>
  </div>
</div>
