<div class="content">
  <div class="aimee">
    <div class="mobile_header">
      <p><strong>Hey <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>

      <p>
        Great news! <%= sender.firstname %> <%= sender.lastname %>  just accepted your invitation to:
        <em><%= contribution.title %></em>
      </p>
    </div>
    <div class="image_div">  
      <img src="/assets/aimee/invitation_accepted.png" alt="">
    </div>
    <div>
      <div class="desktop_header">
        <p><strong>Hey <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>

        <p>
          Great news! <%= sender.firstname %> <%= sender.lastname %>  just accepted your invitation to:
          <em><%= contribution.title %></em>
        </p>
      </div>
      <div>
        <p>
          <a href="<%= contribution.$link %>" target="_blank" class="btn">
            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
            <strong>View contribution</strong>
            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
          </a>
        </p>
      </div>
      <p>
          Have fun,<br/>
          AImee
      </p>
    </div>
  </div>      
</div>
