<div class="content">
  <h3 style="margin: 0 auto">Unser Ziel ist es, staRHs so einfach und intuitiv wie möglich zu gestalten, daher freuen wir uns über Ihre Rückmeldungen zu Verbesserungsmöglichkeiten und setzen sie entsprechend um.</h3>
  <h3 style="margin: 30 auto">Mit diesem Update erwartet Sie eine angenehmere Farbgebung und ein deutlich schnellerer Login-Vorgang.</h3>
  <h3 style="margin: 30 auto">Positives Feedback mit Sternen zu vergeben ist jetzt noch einfacher.
  </h3>
  <div class="action">
    <a
      href="<%= link %>"
      target="_blank"
      class="btn border"
      style="margin: 30px auto !important"
    >
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      <strong>PROBIEREN SIE ES AUS!</strong>
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
    </a>
  </div>
</div>
