<div class="content">
  <h3 style="margin: 0 auto">Based on the feedback we received from you and your colleagues regarding the app, our team has made changes to ensure a more pleasant user experience. With this update, you can expect a more welcoming color scheme and a significantly faster login procedure.</h3>
  <h3 style="margin: 30 auto">Our goal is for staRHs to be as simple and intuitive as possible, so we appreciate your feedback in how this could have been improved and applied it accordingly.
  </h3>
  <h3 style="margin: 30 auto">Shooting for the staRHs just got easier and more enjoyable!
  </h3>
  <div class="action">
    <a
      href="<%= link %>"
      target="_blank"
      class="btn border"
      style="margin: 30px auto !important"
    >
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      <strong>GO CHECK IT OUT!</strong>
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
    </a>
  </div>
</div>
