<div class="content">
    <h3 style="margin: 0 auto">A seat just opened up in one of your crew’s contributions, and they are in need of someone with one of the skallz you have selected.</h3>
    <h3 style="margin: 0 auto">Have a look and see if you can help them accomplish their Definition of Done!</h3>
    <div class="aimee">
      <div class="image_div">
        <img src="https://networhk.net/img/aimee/invitation_accepted.png" alt="" />
      </div>
    </div>
    <div class="action">
        <a
        href="<%= link %>"
        target="_blank"
        class="btn border"
        style="margin: 30px auto !important"
      >
        <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
        <strong>CHECK IT OUT!</strong>
        <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      </a>
    </div>
  </div>