<div class="header">
  <h1>Password Reset</h1>
</div>
<div class="content">
  <p><strong>Hi <%= recipient.firstname %> <%= recipient.surname %>,</strong></p>

  <p>
    You've requested that we reset your password.<br/>
    Please click this link to confirm your password reset:
  </p>

  <a href="<%= link %>" target="_blank" class="btn">
    <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
    <strong>Confirm password reset</strong>
    <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
  </a>

  <hr/>

  <p>If you did not request to reset your password, just ignore this message.</p>

</div>
