<div class="header">
  <h1>Password Reset</h1>
</div>

<p
  style="font-size: 17px; line-height: 24px; margin: 0 0 16px;margin-top:32px;padding-left:32px;padding-right:32px;">
  <strong>Hi <%= firstname %> <%=  surname %>,</strong></p>

<p style="font-size: 17px; line-height: 24px; margin: 0 0 16px;padding-left:32px;padding-right:32px;">
  Please click this link to confirm your password reset:</p>
<hr style="border: none; border-bottom: 1px solid #ECECEC; margin: 2.5rem 0; width: 100%;">
<div style="width:100%;margin-bottom: 32px;">
  <a href="<%= link %>" target="_blank" class="bulletproof-btn-2"
     style="display:block;margin: 0 auto;text-decoration:none;border-style:none;border:0;padding:10;font-size:15px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#ffffff;text-decoration:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:8px 15px;background:#0565C0; border:1px solid #0565C0;display:block;width:50%;min-width:200px;vertical-align:center;text-align:center;-webkit-font-smoothing:antialiased;">
    <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]--> <strong>Confirm password reset</strong>
    <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]--> </a>
</div>
