<div class="header">
  <h1>Request to contribute</h1>
</div>
<div class="content">
  <p><strong>Hi <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>

  <p>
    <%= sender.firstname %> <%= sender.lastname %> asks to contribute to:
  </p>

  <hr>

  <h2><%= contribution.title %></h2>

  <%= contribution.description['@html'] %>

  <hr>

  <p>
    <a href="<%= commitmentLink %>" target="_blank" class="btn">
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      <strong>Click here to Approve or Reject this request …</strong>
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
    </a>
  </p>

</div>

<!-- Action link for GMail -->
<div itemscope itemtype="http://schema.org/EmailMessage">
  <div itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
    <link itemprop="url" href="<%= commitmentLink %>">
    <meta itemprop="name" content="Approve or Reject">
  </div>
  <meta itemprop="description" content="Approve or Reject this request to contribute">
</div>
