<div class="content">
  <div class="aimee">
    <div class="mobile_header">
        <p><strong>Hey <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>
        <p>
          I've just created your new account! Now you should set your password.<br/>
          Please click the link to do it:
        </p>
      </div>
    <div class="image_div">  
      <img src="https://networhk.net/img/aimee/verify_email.png" alt="">
    </div>
    <div>
      <div class="desktop_header">
        <p><strong>Hey <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>

        <p>
          I've just created your new account! Now you should set your password.<br/>
          Please click the link to do it:
        </p>
      </div>
      <div class="action">
        <a href="<%= link %>" target="_blank" class="btn">
          <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
          <strong>Set Password</strong>
          <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
        </a>
      </div>
    </div>
  </div>
</div>
