<div class="content">
  <div class="aimee">
    <div class="mobile_header">
      <%= emailBodyHtml %>
    </div>
    <div class="image_div">
      <img src="https://networhk.net/img/aimee/stars_received.png" alt="">
    </div>
    <div>
      <div class="desktop_header">
        <%= emailBodyHtml %>
      </div>
      <div>
        <hr>
        <p>
          <a href="https://app.starhs.net" target="_blank" class="btn">
            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
            <strong>Go to staRHs</strong>
            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
