<div class="content">
  <div class="aimee_vertical">
    <div class="image_div">
      <img src="https://networhk.net/img/aimee/aimee_star_down.png" alt="">
    </div>
    <div class="body_div">
      <div class="body_text">
      <%= emailBodyHtml %>
    </div>
    </div>
  </div>
  <div class="action">
    <a href="https://app.networhk.net/#/stars/<%= starh.id %>" target="_blank" class="btn">
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      <strong>Check out your feedback</strong>
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
    </a>
  </div>
</div>
