<div class="content">
  <div class="aimee">
    <div class="mobile_header">      
        <p>
          <strong>Wow <%= recipient.firstname %> <%= recipient.lastname %>,</strong><br>
          <strong><%= sender.firstname %> <%= sender.lastname %></strong> sent you <% if(starh.amount > 1) { %>stars<% } else { %>a star<% } %>!
        </p>
      </div>
    <div class="image_div">  
      <img src="/assets/aimee/stars_received.png" alt="">
    </div>
    <div>
      <div class="desktop_header">      
        <p>
          <strong>Wow, <%= recipient.firstname %> <%= recipient.lastname %>!</strong><br>
          You got some stars from <strong><%= sender.firstname %> <%= sender.lastname %></strong>
        </p>
      </div>
      <div>
        <hr>

        <p style="text-align: center">
          <%= starh.message %>
        </p>

        <hr>

        <p>
          Now head over to your <strong><%= networhk.label %> netwoRHk</strong> and share a staRH today, if you haven't already!
        </p>

        <p>
          <a href="<%= networhk.networhkLink %>" target="_blank" class="btn">
            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
            <strong>Go to your netwoRHk</strong>
            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
          </a>
        </p>

        <p>
          Suggestion: Review the Feedback. Reach out to the Sender if anything is unclear. Consider the positive effect of your recognized action! Share the Feedback with your manager and team-members.
        </p>

      </div>

      <p>
        Rock on,<br/>
        AImee
      </p>
    </div>
  </div>
</div>