<div class="content">
  <div class="aimee">
    <div class="mobile_header">
        <p><strong>Hi <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>

        <p>
          FYI, <strong><%= sender.firstname %> <%= sender.lastname %></strong> has marked this task as incomplete:
        </p>
      </div>
    <div class="image_div">  
      <img src="/assets/aimee/aimee_generic.png" alt="">
    </div>
    <div>
      <div class="desktop_header">
        <p><strong>Hi <%= recipient.firstname %> <%= recipient.lastname %>,</strong></p>

        <p>
          FYI, <strong><%= sender.firstname %> <%= sender.lastname %></strong> has marked this task as incomplete:
        </p>
      </div>
      <div class="include_div">
        <ul>
          <li><%= task.description %></li>
        </ul>

        {{includes.contribution}}
      </div>

      <p>
        -AImee
      </p>
    </div>
  </div>
</div>