<div class="content">
  <h2 style="margin: 0 auto">Access with your browser</h2>
  <div class="action">
    <a
      href="<%= link %>"
      target="_blank"
      class="btn border"
      style="margin: 20px auto !important"
    >
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      <strong>app.networhk.net</strong>
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
    </a>
  </div>

  <h2 style="margin: 60px auto 20px auto">Download the app</h2>
  <div style="display: flex; justify-content: space-around; margin: 20px auto;">
    <a
      href="https://play.google.com/store/apps/details?id=net.networhk.starhs"
      target="_blank"
    >
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      <img
        src="https://networhk.net/img/aimee/android_store.png"
        alt=""
        width="120"
        height="40"
      />
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
    </a>
    <a
      href="https://apps.apple.com/us/app/staRHs-positive-feedback/id1474070752"
      target="_blank"
    >
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      <img
        src="https://networhk.net/img/aimee/ios_store.png"
        alt=""
        width="120"
        height="40"
      />
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
    </a>
  </div>

  <h2 style="margin: 60px auto 0 auto">
    If you have any questions, Get in touch!
  </h2>
  <div class="action">
    <a
      href="mailto:support@resourceful-humans.com"
      class="btn border"
      style="margin: 20px auto !important"
    >
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
      support@resourceful-humans.com
      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
    </a>
  </div>
</div>
